<html></<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="refresh" content="">
  <title></title>
  <link rel="stylesheet" class="imageclass" href="../css/animation.css">
</head>
<script>
  document.addEventListener("DOMContentLoaded",function(){
    console.log("i think you are not define");
    console.log("completely i am dedicated to all");
  })
</script>
<body>

  <h1 class="wrapper">
    <img  style="width:200px;height:200px;" src="../../images/445206963_00a055a9-e3e8-4c57-93ee-7e97e576eeab.jpg">
    <p></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </body>
  </html>
